<form action='/<%= idea.id %>' method='POST'>
  <% if idea.id %>
  <span class="title">Edit your Idea:</span>
  <% else %>
  <span class="title">Your Best Idea:</span>
  <% end %>
  <% if idea.id %>
 	<input type="hidden" name="_method" value="PUT" />
  <input type="hidden" name="idea[id]" value="<%= idea.id %>" />
  <input type="hidden" name="idea[rank]" value="<%= idea.rank %>" />
  <% end %>
  <input type='text' name='idea[title]' value="<%= idea.title %>"/><br/>
  <textarea name='idea[description]'><%= idea.description %></textarea><br/>
  <% if idea.id %>
    <input type='text' name='idea[tags]' value="<%= idea.tags.join(", ") %>"/><br/>
  <% else %>
    <input type='text' name='idea[tags]' value=""/><br/>
  <% end %>
  <input type='submit' value='Save'/>
</form>
