    <ul>
        <li id="idea_<%= idea.id %>">
          <div class="idea_content">
            <span class="title"><a href="/<%= idea.id %>"><%= idea.title %></a></span><br/>
            <span class="description"><%= idea.description %></span><br/>
            <ul class="tags">
              <% idea.tags.each do |tag| %>
                  <li><a href='/tag/<%= tag %>' class='tag'><%= tag %></a></li>
              <% end %>
            </ul>
          </div>
          <div class="idea_controls">
            <form action="/<%= idea.id %>" method="POST">
              <input type="hidden" name="_method" value="DELETE">
              <input type="submit" class="delete" value="" />
            </form>

            <a href="/<%= idea.id %>/edit" class="edit"></a>

            <form action='/<%= idea.id %>/like' method='POST' style="display: inline">
              <input type='submit' class="like" value=""/>
            </form>
          </div>
        </li>
    </ul>