
    <div class="top">
      <div class="ideation">
        <%= erb :form, locals: {idea: idea} %>
      </div>

      <div class="mobile">
        <span class="title">Pro Tip</span>
        <p>On the go? Use your mobile phone <br>to
          send in an idea whenever <br>you're on the road.
          Send a text message to <span class="highlight">330-754-3184</span><br> with this
          syntax: <br><span class="highlight">title :: description # tag, tag, tag</span> </p>
      </div>

      <div class="helper_navigation">
        <form action='/search/results' method='GET' class="search">
          <input type="text" name="phrase" value="">
          <input type="submit" value="search" />
        </form>

        <div id="all_tags">
          <p>All tags</p>
          <div class="tag_wrapper">
            <ul class="tags">
            <% tags.each do |tag| %>
              <li><a href="/tag/<%=tag %>" class="tag"><%= tag %></a></li>
            <% end %>
            </ul>
            </div>
        </div>
      </div>


    </div>

    <h3>Existing Ideas</h3>

    <ul class="ideas">
      <% ideas.each do |idea| %>
        <li id="idea_<%= idea.id %>">
          <div class="idea_content">
            <span class="title"><a href="/<%= idea.id %>"><%= idea.title %></a></span><br/>
            <span class="description"><%= idea.description[0..30] %>... <a href="/<%= idea.id %>" class="read_more">(read more &raquo;)</a></span><br/>
            <ul class="tags">
              <% idea.tags.each do |tag| %>
                  <li><a href='/tag/<%= tag %>' class='tag'><%= tag %></a></li>
              <% end %>
            </ul>
          </div>
          <div class="idea_controls">
            <form action="/<%= idea.id %>" method="POST">
              <input type="hidden" name="_method" value="DELETE">
              <input type="submit" class="delete" value="" />
            </form>

            <a href="/<%= idea.id %>/edit" class="edit"></a>

            <form action='/<%= idea.id %>/like' method='POST' style="display: inline">
              <input type='submit' class="like" value=""/>
            </form>
          </div>
        </li>
      <% end %>
    </ul>



